@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #A68B03, #D9AC84);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(78, 70, 31);
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6806A;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(107, 114, 64);
}

h2 {
    color: #023059;
}
p {
    text-align: justify;
}